*{
    padding: 0;
    margin: 0;
}
header{
    background-color: blueviolet;
    height: 500px;
}
nav{
    background-color: white;
    height: 55px;
    width: 50%;
    margin: auto;
}
nav ul{
    display:inline-block;
    border: 2px solid black;

}